body,html{
    margin : 0;
    overflow-x: hidden;

}
.fond{
    background-image: url("fond.png");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;

}

.clavier{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


}



.carre{
    display: flex;
    margin: 15px ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black 4px solid;
    border-radius: 8%;
    height: 12vh;
    width: 5vw;

}

.lettre{
    font-size: 2em;
    font-weight: bolder;
    color: white;

}



.bruit{
    color: #f391ed;
    font-size: 1.2em;
}

    .carre:hover{
        transform: scale(110%);
        border: #f391ed 4px solid ;
        background-color: rgba(0, 0, 0, 0.59);
    }

.playing{

    transform: scale(110%);
    border: #f391ed 4px solid ;
    background-color: rgba(0, 0, 0, 0.59);
}
@media only screen and (max-width: 1200px){
    .carre{

        height: 17vh;
        width: 17vw;

    }
    .fond{
        background-size: cover;
    }
}

@media only screen and (max-width: 786px){
    .carre{

        height: 24vh;
        width: 22vw;

    }
    .fond{
        background-size: cover;
    }
}